<html>
	<body>
		
		<form action="/ValidarUsuario/validarUsuario" method="get">
			Usuario: <input type="text" name="usuario"/>
			Password: <input type="password" name="password"/>
			<input type="submit" value="Login" />
		</form>
		
		
	</body>
</html>
