<html>
	<head>
		<title>Nuestro HelloWorld</title>
	</head>
	
	<!-- Esto es un comentario  -->
	
	<body>
		
		<h1 style="color:pink"> <%=@saludo%><br/><%=@saludo%><br/><%=@saludo%>	</h1>
			
				
	</body>
	
	
	
</html>
